<div class="autoz">
  <div>
    <h2 class="autoz__title">Login</h2>
  </div>
  <div>
    <form class="autoz__form">
      <div class="autoz__form-block">
        <label
          [ngClass]="{
            'autoz__invalid-text': emailInvalid,
            'autoz__label': true
          }"
          for="email"
        >
          Login
        </label>
        <input
          [ngClass]="{
            'autoz__invalid': emailInvalid,
            'autoz__input': true
          }"
          [(ngModel)]="loginUserData.email"
          (input)="change()"
          name="email"
          id="email"
          type="email"
          placeholder="login"
          required
        >
      </div>
      <p *ngIf="emailInvalid" class="autoz__invalid-text">Email invalid</p>

      <div class="autoz__form-block">
        <label
          [ngClass]="{
            'autoz__invalid-text': passwordInvalid,
            'autoz__label': true
          }"
          for="pas"
        >
          Password
        </label>
        <input
          [ngClass]="{
            'autoz__invalid': passwordInvalid,
            'autoz__input': true
          }"
          [(ngModel)]="loginUserData.password"
          (input)="change()"
          name="password"
          id="pas"
          type="password"
          placeholder="password"
          required
        >
      </div>
      <p *ngIf="passwordInvalid" class="autoz__invalid-text">Password invalid</p>

      <button (click)="loginUser()" class="autoz__button">Login</button>
    </form>
  </div>
</div>
