<div class="autoz">
  <div>
    <h2 class="autoz__title">Login</h2>
  </div>
  <div>
    <form class="autoz__form">
      <div class="autoz__form-block">
        <label for="email" class="autoz__label">Login</label>
        <input
          class="autoz__input"
          [(ngModel)]="loginUserData.email"
          name="email"
          id="email"
          type="email"
          placeholder="login"
          required
        >
      </div>
      <div class="autoz__form-block">
        <label for="pas" class="autoz__label">Password</label>
        <input
          class="autoz__input"
          [(ngModel)]="loginUserData.password"
          name="password"
          id="pas"
          type="password"
          placeholder="password"
          required
        >
      </div>
      <button (click)="loginUser()" class="autoz__button">Login</button>
    </form>
  </div>
</div>
