<div class="autoz">
  <div>
    <h2 class="autoz__title">Registration</h2>
  </div>
  <div>
    <form class="autoz__form">
      <div class="autoz__form-block">
        <label
          [ngClass]="{
            'autoz__invalid-text': emailInvalid,
            'autoz__label': true
          }"
          for="email"
        >
          Email
        </label>
        <input
          [ngClass]="{
            'autoz__invalid': emailInvalid,
            'autoz__input': true
          }"
          [(ngModel)]="registerUserData.email"
          (input)="change()"
          name="email"
          id="email"
          type="email"
          placeholder="email"
          required
        >
      </div>
      <p *ngIf="emailInvalid" class="autoz__invalid-text">Email invalid</p>

      <div class="autoz__form-block">
        <label
          [ngClass]="{
            'autoz__invalid-text': emailInvalid || passwordInvalidLength,
            'autoz__label': true
          }"
          for="pas"
        >
          Password
        </label>
        <input
          [ngClass]="{
            'autoz__invalid': emailInvalid || passwordInvalidLength,
            'autoz__input': true
          }"
          [(ngModel)]="registerUserData.password"
          (input)="change()"
          name="password"
          id="pas"
          type="password"
          placeholder="password"
          required
        >
      </div>
      <p *ngIf="passwordInvalidLength" class="autoz__invalid-text">Password lenght must be longer than 6 characters</p>

      <button (click)="registerUser()" class="autoz__button">Register</button>
    </form>
  </div>
</div>
