<div class="autoz">
  <div>
    <h3 class="autoz__title">Registration</h3>
  </div>
  <div>
    <form class="autoz__form">
      <div class="autoz__form-block">
        <label for="email" class="autoz__label">Email</label>
        <input
          class="autoz__input"
          [(ngModel)]="registerUserData.email"
          name="email"
          id="email"
          type="email"
          placeholder="email"
          required
        >
      </div>
      <div class="autoz__form-block">
        <label for="pas" class="autoz__label">Password</label>
        <input
          class="autoz__input"
          [(ngModel)]="registerUserData.password"
          name="password"
          id="pas"
          type="password"
          placeholder="password"
          required
        >
      </div>
      <button (click)="registerUser()" class="autoz__button">Register</button>
    </form>
  </div>
</div>
